@import "https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css";



.nrcstat #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.nrcstat .mapboxgl-popup-content{
    border: 1px solid black;
    width: 400px;
}

.nrcstat .mapboxgl-popup-content p {
    max-width: none;
    text-align: left;
}

.nrcstat #popup-container {
    padding: 0px 20px;
    font-family: "Roboto Condensed";
    z-index:100;
    width: 350px;
}

.nrcstat #popup-container h1 {
    text-transform: uppercase;
    color: #FF7602;
}

.nrcstat #popup-container #number {
    text-align: right;
    font-weight: bold;
    display: block;
    float: right;
    margin-left: 20px;
}

.nrcstat .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #FF7602; /* NRC Orange */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 100px;
    margin-top: 150px;
    margin-bottom: 150px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.nrcstat #legend{
    font-size: 15px;
    padding: 10px;
    font-family: "Roboto Condensed";
    position: absolute;
    top: 20px;
    left: 20px;
    background: #fff;
    overflow: auto;
    border: 1px solid black;
}


.nrcstat #legend p{
    margin: 10px;
}
.nrcstat .orange-dot {
    height: 25px;
    width: 25px;
    background-color: #ff7700;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.nrcstat .gray-dot {
    height: 25px;
    width: 25px;
    background-color: #d4d4d4;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

.nrcstat .legend-text{
    vertical-align: middle;
    margin-left: 10px;
    display: inline

}
