@import '../../../common/style/colors';
@import url('https://api.tiles.mapbox.com/mapbox-gl-js/v0.45.0/mapbox-gl.css');

.nrcstat-country-dashboard-wrapper {
  /* the following properties are also set programatically by wlib to ensure override of episerver */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;

  .nrcstat-country-dashboard-data-block {
    flex-basis: 0;
  }
  .nrcstat-country-dashboard-data-block {
    flex-grow: 6;
    font-family: 'Roboto Condensed';
    table.main-data-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 2.5em;
      table-layout: fixed;
    }
    table.main-data-table td {
      border-bottom: 1px solid #cccccc;
      padding: 0.7em 0.6em;
    }
    table.main-data-table .data-cell,
    table.main-data-table .data-header-cell {
      text-align: right;
    }
    table.main-data-table .data-cell {
      font-size: 18px;
    }
    p.footnote {
      color: grey;
      font-size: small;
    }
  }
  .nrcstat-country-dashboard-map-block {
    display: flex;
    flex-grow: 4;
    justify-content: stretch;
    .nrcstat-country-dashboard-map-block__map-container {
      display: flex;
      width: 100%;
      height: 100%;
      position: relative;
      .nrcstat-country-dashboard-map-block__mapbox {
        width: 100%;
        height: 100%;
        min-height: 450px;
      }
      .nrcstat-country-dsahboard-map-block__source {
        position: absolute;
        bottom: 5px;
        left: 5px;
        font-family: 'Roboto Condensed';
        font-size: small;
        color: grey;
      }
    }
  }

  @media (max-width: 800px) {
    .nrcstat-country-dashboard-data-block,
    .nrcstat-country-dashboard-map-block {
      width: 100%;
    }
    .nrcstat-country-dashboard-data-block {
      height: auto;
    }
  }

  /* Code to style the <select> in the two data table header cells */
  /* Obtained from: https://www.filamentgroup.com/lab/select-css.html */
  .nrcstat-country-dashboard-data-block select.option-select {
    font-size: 16px;
    font-family: 'Roboto Condensed';
    text-align: center;
    color: #444;
    line-height: 1.3;
    padding: 2px 4px;
    width: 4.8em;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #d3d3d3;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22grey%22%20d%3D%22M287%2069.4a17.6%2018.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2018.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
    box-shadow: none;
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }
}

/* If both blocks are on same line, include some right-padding in data block */
.nrcstat-country-dashboard-data-block__inner {
  padding: 0 2em 0 0;
}

@media (max-width: 800px) {
  .nrcstat-country-dashboard-data-block,
  .nrcstat-country-dashboard-map-block {
    width: 100%;
  }
  .nrcstat-country-dashboard-data-block {
    height: auto;
  }
  .nrcstat-country-dashboard-data-block__inner {
    padding: 0 0 1.5em 0;
  }
}

@media (max-width: 800px) {
  .nrcstat-country-dashboard-wrapper {
    flex-direction: column;
  }
  .nrcstat-country-dashboard-map-block {
    min-height: 0;
  }
}